.daterange-picker
  right: 10px
  position: absolute
  transform: scale(0)
  transition: transform .3s ease
  &.show
    transform: scale(1)
.daterange-picker-container
  width: 460px
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2)
  background-color: #fff
  position: absolute
  z-index: 1
  right: 0
  top: 0