button.btn.btn-outline-primary(data-toggle="collapse", data-target="#dateRange", aria-expanded="false") Daterange picker
div#dateRange.collapse.daterange-picker
    div.daterange-picker-container.d-flex
        daterange-options
        daterange-calendar.daterange-calendar